@import "tailwindcss";

@font-face {
  font-family: "Agustina Regular";
  src: url("/fonts/Agustina-Signature.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
